/* Calibrage */
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    font-size: 100%;
}

body
{
    margin: 0;
    background-color: #FFF0CC;
}
#container_head
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    font-family: 'Oswald',cursive, sans-serif;
}

.head_connexion
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 130px;
    background-color: #fde2a2;
    padding: 5px;
    border-bottom: 2px solid rgb(212, 187, 73);
}

.h1_connexion
{
    font-size: 3em;
    justify-content: flex-end;
}

.p_topconnexion
{
    font-size: 1.5em;
    color: black;
    
}

#connexion
{
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald',cursive, sans-serif;
    color: black;
}

.champ_connexion
{
    height: 400px;
    width: 400px;
    background-color: gray;
    background-repeat: no-repeat;
    background-attachment: fixed;
    left: 20%;
    margin-top: 100px;
    border-radius: 15px 15px 15px;
}

.p_champconnexion
{
    text-align: center;
    padding-top: 10px;
    font-size: 2em;
}

.form_connexion
{
    border: 1px solid white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

#inscription
{
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald',cursive, sans-serif;
    color: black;
}

.champ_inscription
{
    height: 400px;
    width: 400px;
    background-color: gray;
    background-repeat: no-repeat;
    background-attachment: fixed;
    right: 20%;
    margin-top: 100px;
    border-radius: 15px 15px 15px;
}

.p_champ_inscription
{
    text-align: center;
    padding-top: 10px;
    font-size: 2em;
}

:required
{
    border: 1px solid red;
}

.form_menu
{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    padding-top: 100px;
    align-items: center;
}

.spacing
{
    padding: 5px;
}

.spacingtopbutton
{
    margin-top: 15px;
}